{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('index') }}"><img src="static/MyAnime (1).png" width="175" height="175"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user_shows') }}">My Shows</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}

                <div class='alert alert-{{ category }} m-3' role='alert'>
                    {{ message }}
                </div>

                {% endfor %}
                {% endwith %}

    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="web-title">MyAnime</p>
            <p class="info">
                The new and easiest way to keep track of all your past, current, and future animes!
                With MyAnime, you'll be able to rate all of the animes you've seen in the past and 
                jot down summaries of each show. Not only does this make distinguishing your favorite animes
                much easier, but it also makes remembering each show less of a hassle!
            </p>
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg" type='submit' style='margin-top: 5px;'>Get Started</a>
        </div>
    </div>
</div>
{% endblock %}