{% extends 'base.html' %}

{% block content %}
    {% include 'partials/navbar.html' %}
    <div class="container-fluid d-flex justify-content-center align-items-center" style="margin-top: 30px;">
        <div class="card w-100 flex-fill flex-sm-grow-0">
            <div class="card-body">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in messages %}

                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>

                {% endfor %}
                {% endwith %}

                <h1 class="card-title text-center">Sign Up</h1>
                <form action="/users/" method="POST">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter name" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Enter email" required>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Enter password" required>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-md btn-primary mt-3" type="submit">Sign up</button>
                        <hr>
                        <small>Already have an account? <a href="{{ url_for('login') }}">Sign In</a></small>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}